[submodule "redcap_cypress"]
	path = redcap_cypress
	url = git@github.com:schatto1/redcap_cypress.git
[submodule "redcap_docker"]
	path = redcap_docker
	url = git@github.com:schatto1/redcap_docker.git
[submodule "redcap_rsvc"]
	path = redcap_rsvc
	url = git@github.com:4bbakers/redcap_rsvc.git
